
/* Color Theme */

/* #233b5d   dark blue */
/* #8e9190   dark gray */
/* #0b575c   green */
/* #e1d6d1   light gray */
/* #da3149   red */ 

@import url('https://fonts.googleapis.com/css?family=Mina');

* {
  margin: 0;
  padding: 0;
  font-family: 'Mina', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
}

/***************************************
  LOGIN PAGE & SIGNUP PAGE
***************************************/

#login-page,
#signup-page {
  background-color: #233b5d;
  height: 100vh;
  color: white;
}

#login-page h1,
#signup-page h1 {
  font-size: 40px;
  padding-top: 25px;
}

#signup-page h1 {
  margin-bottom: 30px;
}

#login-page form,
#signup-page form {
  border: 1px solid white;
  width: 50%;
  height: 500px;
  position: absolute;
  top: 10%;
  left: 25%;
  border-radius: 5px;
}

#signup-page form {
  height: 600px;
}

#login-page label {
  width: 100%;
}

#login-page p {
  font-size: 25px;
  margin: 40px auto 20px auto;
}

#login-page input, 
#signup-page input {
  width: 300px;
  height: 30px;
  text-indent: 5px;
}

#login-page button,
#signup-page button,
#login-page .signup-link,
#signup-page .login-link {
  width: 150px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 3px;
  margin-top: 40px;
  color: white;
}

#login-page button:hover,
#signup-page button:hover,
#login-page .signup-link:hover,
#signup-page .login-link:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid #233b5d;
  color: #233b5d;
}

#login-page .signup-link,
#signup-page .login-link {
  position: absolute;
  right: 30px;
  width: 120px;
  display: inline-block;
  text-decoration: none;
}

#signup-page p {
  display: inline-block;
  padding: 20px;
  width: 150px;
}


/***************************************
  NAVIGATION
***************************************/

#main-nav {
  width: 250px;
  height: 100vh;
  position: absolute;
  left: 0;
  background-color: #233b5d;
}

#main-nav .logo {
  color: white;
  padding: 18px 0;
  font-size: 30px;
}

#main-nav ul {
  margin-top: 70px;
}

#main-nav li {
  height: 70px;
  padding-top: 30px;
  border-bottom: 1px solid white;
}

#main-nav a {
  text-decoration: none;
  color: white;
}

#main-nav li:hover,
#main-nav a:hover {
  color: #da3149;
}

#main-nav .dropdown {
  position: relative;
  color: white;
  cursor: pointer;
}

#main-nav .dropdown:hover > ul {
  display: inherit;
  height: 10px;
}

#main-nav .dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  top: -70px;
  left: 250px;
  list-style: none;
  width: 200px;
}

#main-nav .dropdown-content li {
  display: list-item;
  position: relative;
  float: none;
  width: 100%;
  background-color: #233b5d
}

#main-nav .dropdown-content a {
  color: white;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100px;
}

#main-nav .dropdown-content a:hover {
  color: #da3149;
}

.show {
  display: block;
}

.nav-page-heading h1 {
  background-color: #233b5d;
  width: 100%;
  text-align: center;
  font-size: 30px;
  padding: 18px 0;
  color: white;
}


/***************************************
  PROFILE PAGE
***************************************/

#profile-page-section {
  background-color: white;
  height: 100vh;
}

#profile-page-section form {
  padding: 80px 0 0 200px;
}

#profile-page-section form p {
  display: inline-block;
  padding: 20px;
  width: 200px;
  color: #233b5d;
  font-weight: bold;
}

#profile-page-section form input {
  width: 300px;
  border: 1px solid #e1d6d1
}

#profile-page-section form input[value]{
  color: #8e9190;
}

#profile-page-section form button {
  width: 150px;
  margin-top: 50px;
  background-color: #da3149;
  color: white;
  border-radius: 3px;
}

#profile-page-section .delete-profile {
  position: absolute;
  right: 40px;
  top: 100px;
}

#profile-page-section .delete-profile button {
  font-size: 30px;
  text-align: center;
  color: #da3149;
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
}

#profile-page-section .delete-profile button:hover {
  cursor: pointer;
}

#profile-page-section .delete-text {
  position: absolute;
  z-index: 1;
  font-size: 17px;
  bottom: 8px;
  left: -100px;
  opacity: 0;
  transition: opacity 0.3s;
}

#profile-page-section .delete-text::after {
    content: "";
    position: absolute;
    top: 5px;
    left: 75px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #555 transparent transparent;
}

#profile-page-section .delete-profile:hover .delete-text {
    visibility: visible;
    opacity: 1;
}

















